* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header,
.main {
    background-color: #1f2937;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


.links {
    list-style: none;
    display: flex;
    gap: 18px;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.main {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height:calc(65vh - 100px);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-p {
    font-size: 18px;
    color: #e5e7eb;
}

.signup-cta {
    color: #e5e7eb;
    background-color: #3882f6;
    font-weight: 800;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

.main-image {
    display: flex;
    color: white;
    background-color: grey;
    padding: 80px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.ph-box {
    display: flex;
    flex-wrap: wrap;
    height: 75px;
    width: 75px;
    border: 4px solid #3882f6;
    border-radius: 8px;
    padding: 75px;
}

.infobox ul {
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    gap: 18px;
    width: 0;
}